extends layout.pug

block content
  div(class='flex flex-col items-center pt-2')
    h1(class='text-xl font-bold text-stone-800') #{news.title}
    p(class='text-sm text-stone-500') Author: #{news.author}
    p(class='text-sm text-stone-500') Created at: #{news.createdAt}
    p #{news.description}
    div(class='self-start sm:mx-3')
      h2(class='text-lg font-bold text-stone-800') Comments
      each comment of comments
        div
          p(class='text-sm text-stone-500') #{'*'.repeat(comment.level-1)} #{comment.author}
          p #{'*'.repeat(comment.level-1)} #{comment.text}