extends layout.pug

mixin comment(item)
  div(style={'margin-left': `${(item.level-1)*10}px`})
    div
      if item.avatar 
        img(class='w-12 h-12' src=item.avatar)
        p(class='text-sm text-stone-500') #{item.author}
      p #{item.text}

block content
  div(class='flex flex-col items-center pt-2')
    h1(class='text-xl font-bold text-stone-800') #{news.title}
    p(class='text-sm text-stone-500') Author: #{news.author}
    p(class='text-sm text-stone-500') Created at: #{news.createdAt}
    p #{news.description}
    div(class='self-start sm:mx-3')
      h2(class='text-lg font-bold text-stone-800') Comments
      each item of comments
        +comment(item)
    div(class='self-start flex flex-col w-1/2 my-5')
        textarea(rows='4' placeholder='Write your comment...' class='block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500')
        button(class='text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-24 px-5 py-2.5 text-center mt-2.5') Sent